.header {
	&__container {
		padding-top: toRem(20);
		padding-bottom: toRem(20);
		display: flex;
		align-items: center;
		justify-content: space-between;
		column-gap: toRem(20);
		row-gap: toRem(4);
		border-bottom: 1px solid rgba(35, 31, 32, 0.23);
	}

	&__logo {
		align-self: flex-start;
		align-content: flex-start;
		justify-content: flex-start;
		flex: 0 1 50%;
		img {
			width: toRem(80);
			object-fit: contain;
		}
	}

	&__menu {
		flex: 0 0 toRem(420);
	}

	&__social {
		flex: 0 1 50%;
	}
}
.menu {
	&__icon {
	}

	&__body {
	}

	&__list {
		display: flex;
		align-items: center;
		column-gap: toRem(20);
		row-gap: toRem(4);
	}

	&__item {
	}

	&__link {
		font-weight: 500;
		white-space: nowrap;
	}
}
.icon-menu {
}
.social-header {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: toRem(14);
	li {
		a {
			img {
				width: toRem(30);
				object-fit: contain;
			}
		}
	}
}
